/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.application-logo-container {
  margin-top: 10px;
}

.ticketer-logo {
  background: url(./../images/ticketer-logo.png);
  width: 160px;
  height: 36px;
}

.oj-web-applayout-navbar {
  margin-top: 15px;
}