.centerDiv {
    width: 50%;
    margin: auto;
    padding: 10px;
    max-height: 500px;
    margin-top: 25%;
}

.blackBorderRadious {
    border: 1px solid black;
    border-radius: 10px;
}

.fullWidth {
    min-width: 100%;
}