<div class="oj-web-applayout-footer-item oj-web-applayout-max-width">
    <ul>
      <oj-bind-for-each data="[[footerLinks]]">
        <template>
          <li><a :id="[[$current.data.linkId]]" :href="[[$current.data.linkTarget]]"><oj-bind-text value="[[$current.data.name]]"></oj-bind-text></a></li>
        </template>
      </oj-bind-for-each>
    </ul>
</div>
<div class="oj-web-applayout-footer-item oj-web-applayout-max-width oj-text-secondary-color oj-text-sm">
    Copyright © 2014, 2020 Oracle and/or its affiliates All rights reserved.
</div>