<div class="oj-web-applayout-max-width oj-flex-bar oj-sm-align-items-center">

    <!-- Offcanvas toggle button -->
    <div class="oj-flex-bar-start oj-md-hide">
        <oj-button id="drawerToggleButton" class="oj-button-lg" on-oj-action="[[toggleDrawer]]" chroming="half" display="icons">
            <span slot="startIcon" class="oj-web-applayout-offcanvas-icon"></span>
            <span>Application Navigation</span>
        </oj-button>
    </div>

    <div class="oj-flex-bar-middle oj-sm-align-items-baseline">
        <span role="img" class="oj-icon ticketer-logo application-logo-container" :title="[[ appName ]]" :alt="[[ appName ]]"></span>
    </div>

    <div class="oj-flex-bar-end">
        <!-- Responsive Toolbar -->
        <oj-toolbar>
            <oj-menu-button id="userMenu" display="[[smScreen() ? 'icons' : 'all']]" chroming="half">
                <span><oj-bind-text value="[[ userLogin ]]"></oj-bind-text></span>
                <span slot="endIcon" :class="[[{'oj-icon demo-appheader-avatar': smScreen(), 'oj-component-icon oj-button-menu-dropdown-icon': !smScreen()}]]"></span>
                <oj-menu id="menu1" slot="menu" style="display:none" on-oj-action="[[clickListener]]">
                    <oj-option id="pref" value="pref">Preferences</oj-option>
                    <oj-option id="help" value="help">Help</oj-option>
                    <oj-option id="about" value="about">About</oj-option>
                    <oj-option id="logout" value="logout">Sign Out</oj-option>
                </oj-menu>
            </oj-menu-button>
        </oj-toolbar>
    </div>

</div>
<div role="navigation" class="oj-web-applayout-max-width oj-web-applayout-navbar">
    <oj-navigation-list id="navTabBar" class="oj-sm-only-hide oj-md-condense -oj-md-justify-content-flex-end" data="[[navDataProvider]]" edge="top" item.renderer="[[KnockoutTemplateUtils.getRenderer('navTemplate', true)]]" selection="{{router.stateId}}">
    </oj-navigation-list>
</div>