<style>
  .tickets-table {
    height: 650px;
    width: 100%;
  }

  .filter-bar {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .filter {
    min-width: 200px;;
    margin-right: 15px;;
  }

  .filter-double {
    width: 400px;
  }

  .filter-double oj-input-text {
    min-width: 400px;
  }

  .tickets-column-selector-button {
    flex: 1;
    text-align: right;
  }

  .tickets-column-selector-button span {
    font-size: large;
  }

  .tickets-page-content {
    display: flex;
  }

  .tickets-side-panel {
    min-width: 180px;
    margin-top: 20px;
  }

  .tickets-view-panel {
    
    padding: 10px;
    margin-right: 10px;
  }

  .tickets-view-list li {
    list-style-type: none;
    line-height: 1.5;
  }

  .tickets-view-list li span,
  .tickets-view-list li a {
    margin-left: 8px;
  }
  
  .tickets-view-listing {
    flex: 1
  }

  .tickets-create-button {
    width: 80%;
    text-align: center;
  }

  .tickets-create-button span {
    font-size: medium;
  }

  .tickets-create-button .fas {
    font-size: larger;
  }

  .filter-selector {
    max-width: 180px;
    width: 180px;
  }

  .filter-text {
    height: 40px;
  }

  .tickets-link {
    cursor: pointer;
  }

</style>

<div class="tickets-page-content">
  <div class="tickets-side-panel">
    <div>
      <oj-button chroming="callToAction" class="tickets-create-button oj-button-lg" on-click="[[ handleNewTicketClick ]]">
        <span class="fas fa-ticket-alt" slot="startIcon"></span>
        <span>New Ticket</span>
      </oj-button>
    </div>
    
    <div class="tickets-view-panel">
      
      <oj-collapsible expanded="true">
        <h5 slot="header" class="oj-header-border">Views</h5>
        <ul class="tickets-view-list">
          <oj-bind-for-each data="[[ views().system ]]">
            <template>
              <li>
                <span class="fas fa-filter"></span>
                <a href="#" on-click="[[ handleOpenView.bind(null, $current.data.name) ]]">
                  <oj-bind-text value="[[ $current.data.name ]]"></oj-bind-text>
                </a>
              </li>
            </template>
          </oj-bind-foreach>
        </ul>
      </oj-collapsible>

      <oj-collapsible expanded="true">
        <h5 slot="header" class="oj-header-border">Saved Views</h5>
        <ul class="tickets-view-list">
          <oj-bind-for-each data="[[ views().user ]]">
            <template>
              <li>
                <span class="fas fa-filter"></span>
                <a href="#" on-click="[[ handleOpenView.bind(null, $current.data.name) ]]" class="view-name">
                  <oj-bind-text value="[[ $current.data.name ]]"></oj-bind-text>
                </a>
              </li>
            </template>
          </oj-bind-foreach>
        </ul>
      </oj-collapsible>

    </div>
  </div>

  <div class="tickets-view-listing">
    <h1>
      <oj-bind-text value="[[ 'Tickets' + (selectedView() ? ' - ' + selectedView().name : '' ) ]]"></oj-bind-text>
    </h1>
    <hr />
    <div class="filter-bar">
      
      <div class="filter filter-double ">
        <oj-label for="filter-text">Filter</oj-label>
        <oj-input-text id="filter-text" value="{{filterText}}" class="filter-text" on-value-changed="[[handleColumnsSelected]]"></oj-input-text>
      </div>

      <div class="filter">
        <oj-label for="selectedStatus">Status</oj-label>
        <oj-combobox-many id="selectedStatus" value="{{selectedStatus}}" options="[[statusOptions]]" class="filter-selector" on-value-changed="[[handleColumnsSelected]]"></oj-combobox-many>
      </div>

      <div class="filter">
        <oj-label for="selectedSeverity">Severity</oj-label>
        <oj-combobox-many id="selectedSeverity" value="{{selectedSeverity}}" options="[[severityOptions]]" class="filter-selector" on-value-changed="[[handleColumnsSelected]]"></oj-combobox-many>
      </div>

      <div class="filter">
        <oj-label for="selectedTicketType">Ticket Type</oj-label>
        <oj-combobox-many id="selectedTicketType" value="{{selectedType}}" options="[[ticketTypeOptions]]" class="filter-selector" on-value-changed="[[handleColumnsSelected]]"></oj-combobox-many>
      </div>

      <div class="tickets-column-selector-button">
        <oj-menu-button id="tickets-column-selector-button" chroming="borderless" display="icons">
          <span class="fas fa-columns" slot="endIcon"></span>
          <oj-menu id="tickets-column-selector-menu" slot="menu" style="display:none" on-oj-action="[[handleColumnsSelected]]" >
            <oj-menu-select-many value="{{selectedColumns}}" options="[[columns]]"></oj-menu-select-many>
          </oj-menu>
        </oj-menu-button>
      </div>
    </div>

    
    <oj-table id="tickets-table" data="[[datasource]]" 
      scroll-policy="loadMoreOnScroll"
      class="tickets-table"
      columns="[[viewColumns]]"
      selectionMode='{"row": "none", "column": "none"}'>
      
      <template slot="ownerTemplate" data-oj-as="cell">
        <oj-bind-text value="[[getOwner(cell.data)]]"></oj-bind-text>
      </template>

      <template slot="summaryTemplate" data-oj-as="cell">
        <a class="tickets-link" on-click="[[ handleTicketNavigation.bind(null, cell.row) ]]"><oj-bind-text value="[[ cell.data ]]"></oj-bind-text></a>
      </template>
      
    </oj-table>
  </div>
</div>
