
# src/js/libs and src/css/alta are symlinks to the staging directory
src/js/libs
src/css/alta


/jet_components
/node_modules
/bower_components
/web
/staged-themes
/themes
/jaftmp@

/hybrid/node_modules
/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

.DS_Store
Thumbs.db